!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title PVScoreTracker
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          .navbar-brand
            =link_to 'All Games', root_url
        %ul.nav.navbar-nav
          -if @game.present?
            %li=link_to 'Current Game', game_url(@game)
            %li=link_to 'Current Roster', new_game_division_team_url(@game)
          %li=link_to 'Teams', new_team_url
          %li=link_to 'Divisions', new_division_url
    - if flash[:message].present?
      #message
        = flash[:message]
    - if flash[:warning].present?
      #warning
        = flash[:warning]
    - if flash[:danger].present?
      #danger
        = flash[:danger]
    - if flash[:errors].present?
      #errors
        The following errors occurred:
        %ul
          - flash[:errors].each do |error_message|
            %li= error_message
    .container
      - if @game.present?
        %h1.h3=@game.year
        %ul.nav.nav-tabs
          %li{class: tab(@tab, 'girls-pool')}=link_to 'Girls Pool', girls_pool_game_url
          %li{class: tab(@tab, 'boys-pool')}=link_to 'Boys Pool', boys_pool_game_url
          %li{class: tab(@tab, 'girls-spirit')}=link_to 'Girls Spirit', girls_spirit_game_url
          %li{class: tab(@tab, 'boys-spirit')}=link_to 'Boys Spirit', boys_spirit_game_url
          %li{class: tab(@tab, 'girls-bracket')}=link_to 'Girls Bracket', girls_bracket_game_url
          %li{class: tab(@tab, 'boys-bracket')}=link_to 'Boys Bracket', boys_bracket_game_url
      = yield
