!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title PVScoreTracker
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          .navbar-brand
            = link_to 'All Games', root_url
        %ul.nav.navbar-nav
          %li= link_to 'Current Game', current_games_url
          %li= link_to 'Teams', new_team_url
          %li= link_to 'Divisions', new_division_url
    .container
      - flash.each do |name, messages|
        .alert.alert-dismissible{class: "alert-#{name}"}
          %button.close{data: {dismiss: 'alert'}, aria: {label: 'Close'}}
            %span{aria: {hidden: 'true'}}
              &times;
          = list_messages(messages)
      = yield
